<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Berras Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Font.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/berraslogo.png" class="img-center" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a button type="button" class="btn btn-primary" asp-area="" asp-controller="Shows" asp-action="Index">Book Tickets</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container" id="videofooter">
        <footer class="text-center">
            <div class="container p-4">
                <section class="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <div class="top-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                            <h2>Trailers</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                            <div id="carousel-example" class="carousel slide">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carousel-example" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vM-Bja2Gy04" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zAGVQLHvwOY" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="embed-responsive embed-responsive-16by9">
                                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6ZfuNTqbHE8" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-right p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-white" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Berras Cinema</a>
                </div>
                </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
