@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="background" src="~/img/myke-simon-atsUqIm3wxo-unsplash.jpg" />
    <p class="display-4">Playing now</p>
    <div class="row">
        <div class="column">
            <img src="~/img/avengers.jpg">
            <img src="~/img/batman.jpg">
            <img src="~/img/civilwar.jpg">
            <img src="~/img/darkknight.jpg">
            <img src="~/img/suicidesquad.jpg">
        </div>
        <div class="column">
            <img src="~/img/fightclub.jpg">
            <img src="~/img/forestgump.jpg">
            <img src="~/img/godfather.jpg">
            <img src="~/img/godzilla.jpg">
            <img src="~/img/pulp.jpg">
        </div>
        <div class="column">
            <img src="~/img/indianajones.jpg">
            <img src="~/img/infinity.jpg">
            <img src="~/img/insidious.jpg">
            <img src="~/img/nobody.jpg">
            <img src="~/img/shutter.jpg" />
        </div>
        <div class="column">
            <img src="~/img/justice.jpg">
            <img src="~/img/matrix.jpg">
            <img src="~/img/missionimpossible.jpg">
            <img src="~/img/prestige.jpg">
            <img src="~/img/wolf.jpg" />
        </div>
        <div class="column">
            <img src="~/img/antman.jpg">
            <img src="~/img/wonder.jpg">
            <img src="~/img/antman.jpg">
            <img src="~/img/django.jpg">
            <img src="~/img/strange.jpg" />
        </div>
        <div class="column">
            <img src="~/img/goodfeallas.jpg">
            <img src="~/img/ironman.jpg">
            <img src="~/img/joker.jpg">
            <img src="~/img/lotro.jpg">
            <img src="~/img/manofsteel.jpg" />
        </div>
    </div>
</div>
