@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div class="row">
        <div class="column">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/avengers.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/batman.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/civilwar.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/darkknight.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/suicidesquad.jpg"></figure></a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/fightclub.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/forestgump.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/godfather.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/godzilla.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/pulp.jpg"></figure></a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/indianajones.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/infinity.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/insidious.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/nobody.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/shutter.jpg" /></figure></a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/wolf.jpg" /></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/matrix.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/missionimpossible.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/prestige.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/justice.jpg"></figure></a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/antman.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/wonder.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/civilwar.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/django.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/strange.jpg"></figure></a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/goodfeallas.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/ironman.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/joker.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/lotro.jpg"></figure></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Shows" asp-action="Index"><figure><img src="~/img/manofsteel.jpg" /></figure></a>
                </li>
            </ul>





        </div>
    </div>
</div>
